#language-toggle-btn {
    position: fixed;  
    bottom: 20px;     
    left: 50px;      
    background-color: transparent;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;   
  }
  
  #language-toggle-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);  
    border-radius: 50%; 
  }
  