<div class="d-flex align-items-center justify-content-center min-vh-100 p-2 bg-blue">
    <div class="mt-4 bg-white card-404 text-center px-4 py-5">
        <div class="img1">
            <img src="../../../assets/XMLID_675_.png" alt="404" class="main-img">
            <div class="img2"><img src="../../../assets/XMLID_693_.png" alt=""></div>
            <div class="img3"><img src="../../../assets/XMLID_703_.png" alt=""></div>
            <div class="img4"><img src="../../../assets/XMLID_721_.png" alt=""></div>
            <div class="img5"><img src="../../../assets/XMLID_723_.png" alt=""></div>
          </div>
          
  
      <h5 class="mt-3 mb-4 fw-bold" style="font-family: 'Nunito Sans', sans-serif;">
        {{ 'notFound.lost' | translate }}
      </h5>
      <a routerLink="/dashboard" class="btn btn-back">{{ 'notFound.back' | translate }}</a>
    </div>
</div>
  